.extraborder {
    border: 3px solid #417f81;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}

.header {
    padding: 10px;
    text-align: center;
    overflow: auto;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    border: 2px solid;
    border-radius: 2px;
}
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 1s;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    margin-top: 20px;
    border: 2px solid;
    border-radius: 2px;
}

.footerquote {
    padding: 10px;
    text-align: center;
    background-color: #333;
    margin-top: 10px;
    border: 2px solid;
    border-radius: 2px;
}

.leftcolumn {   
    float: left;
    width: 70%;
}

.leftcolumnmain {   
    float: left;
    width: 84%;
}

.leftcolumn1 {   
    float: left;
    width: 100%;
}

.rightcolumn {
    float: right;
    width: 27%;
    padding-left: 20px;
}

.rightcolumnmain {
    float: right;
    width: 13%;
    padding-left: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid;
    border-radius: 2px;
    overflow: auto;
}

.card05 {
    background-color: white;
    padding: 2px;
    margin-top: 5px;
    overflow: auto;
    text-align: center;
}

.card1 {
    background-color: rgb(201, 200, 200);
    padding: 10px;
    margin-top: 20px;
    border: 2px solid;
    border-radius: 2px;
    overflow: auto;
}

.card2 {
    background-color: white;
    padding: 5px;
    margin-top: 10px;
    border: 2px solid;
    border-radius: 2px;
    overflow: auto;
}

.card3 {
    background-color: rgb(136, 136, 136);
    padding: 5px;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 2px;
    overflow: auto;
}

.cardsubs {
    background-color: white;
    padding: spx;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 2px;
    overflow: auto;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
 
.button:hover {background-color: #3e8e41}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.face {
    padding-right: 10px;
    padding-top: 10px;
}