#clip {
    white-space: nowrap;
    width: 200px;
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: clip;
}
  
#ellipsis {
    white-space: nowrap;
    width: 200px;
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: ellipsis;
}

#clip:hover {
    overflow: visible;
}
  
#ellipsis:hover {
    overflow: visible;
}

#wrap {
    width: 500px; 
    border: 1px solid #000000;
    word-wrap: break-word;
}

#keepbreak {
    width: 500px; 
    border: 1px solid #000000;
    word-break: keep-all;
}

#breakbreak {
    width: 500px; 
    border: 1px solid #000000;
    word-break: break-all;
}

#vertical {
    writing-mode: vertical-rl;
}

#spanvert {
    writing-mode: vertical-rl;
}